<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halberd</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}" />


</head>

<body>

  <div class="navigation-bar">
    <div class="column logo">

    </div>
    <div class="column title">
      <p class="main-title">Herbert Station</p>
    </div>
    <div class="column menu">
      <a href="{{ url_for('main.index') }}" class="navbar-item">Home</a>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('main.profile') }}" class="navbar-item">Profile</a>
      {% endif %}
      {% if not current_user.is_authenticated %}
      <a href="{{ url_for('auth.login') }}" class="navbar-item">Login</a>
      <a href="{{ url_for('auth.signup') }}" class="navbar-item">Sign Up</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('auth.logout') }}" class="navbar-item">Logout</a>
      {% endif %}
    </div>
  </div>

  <div class="">
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>
