{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome, {{ name }}!
</h1>

<div class="events">
  {% for event in events %}
    <h1> {{ event.event_name }} </h1>
  {% endfor %}
</div>

<form method="POST" action="/add_event">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="name" name="event_name" placeholder="Event Name" autofocus="">
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Add Event</button>
</form>

{% endblock %}
