body {
  margin: 0;
}

div {
  background-color: red;
}

h1 {
  font-size: 25px;
  text-align: center;
}

.navbar-item {
  
}

body .events_container {
  background-color: grey;
}

.day_planner {
  background-color: black;
}
