body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.navigation-bar {
  width: 100%;
  height: 60px;
  background-color: grey;
}

.column {
  float: left;
  height: 100%;
}

.logo {
  width: 25%;
  background-color: #ccc;
}

.title{
  margin: auto;
  text-align: center;
  width: 50%;
  background-color: #aaa;
}

.menu {
  width: 25%;
  background-color: #bbb;
}

.navigation-bar:after {
  content: "";
  display: table;
  clear: both;
}
